* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif, Arial, Helvetica, sans-serif;
}
.buttons {
    margin: 50px auto;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
/*-------------------------------
            BOTON 1
---------------------------------*/
.button1 {
    background-color: darkorchid;
    border: none;
    height: 60px;
    width: 300px;
    position: relative;
    font-size: 20px;
    color: white;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;

    
}

.cart-icon {
    position: absolute;
    font-size: 30px;
    background-color: darkorchid;
    padding: 16px 0;
    width: 300px;
    height: 60px;
    left: 0px;
    top: -53px;
    transition: all 0.3s;
    box-sizing: border-box;
}

.p-cart {
    font-size: 25px;
    color: white;
    transition: all 0.3s;
}

.button1:hover .p-cart {
    transform: translateY(53px);
}

.button1:hover .cart-icon {
    transform: translateY(53px);
}

/*-----------------------------------
            BOTON 2
----------------------------------*/

.button2 {
    background-color: #03BB85;
    border: none;
    height: 60px;
    width: 300px;
    position: relative;
    font-size: 20px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s 0.2s;
}

.order-icon {
    position: relative;
    font-size: 30px;
    padding: 16px 0;
    height: 60px;
    left: -80px;
    top: 0px;
    transition: all 0.5s 0.2s;
    box-sizing: border-box;
}

.p-order {
    position: relative;
    left: 15px;
    top: -40px;
    transition: all 0.3s;
    font-weight: bold;
}
.button2:hover .p-order {
    display: none;
}
.button2:hover .order-icon {
    transform: translateX(300px);
}

/*.button2::before .order-icon {
    position: relative;
    left: -100px;
    top: 0px;
}

.button2::after .order-icon {
    transform: translateX(300px);
}*/

/*----------------------------------
            ANIMACION 1
----------------------------------*/
.animations {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.animations-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.background-img {
    background-image: url(https://images.unsplash.com/photo-1576080971617-5b789d9bcee4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
    background-size: cover;
    position: absolute;
    left:0px;
    top:0px;
    height: 530px;
    width: 530px;
    transition: all 0.3s;
    box-sizing: border-box;
    /*border: 5px solid black;*/
 
}
.animation1 {
    height: 499px;
    width: 499px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    border: 5px solid black;
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    letter-spacing: 4px;
    position: absolute;
    top: 30px;
    left: 30px;
    transition-duration: 0.3s;
    }

.subtitle {
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 600px;
    transition-duration: 0.3s;
   
}

.subtitle1 {
    font-size: 25px;
    position: absolute;
    top: 170px;
    left: 600px;
    width: 200px;
    transition-duration: 0.3s;
    
}

.animation1:hover .subtitle {
    top: 100px;
    left: 230px;
    transform: translateX(-0px);
    transition: all 0.3s;
    
}

.animation1:hover .subtitle1 {
    position: absolute;
    top: 170px;
    transform: translateX(-290px);
    transition: all 0.3s 0.4s;
    
}

.animation1:hover {
    transition: all 0.3s;
    border: 1px solid black;

        }

.animation1:hover > .background-img {
    transform: scale(1.1);
    opacity: 0.7;
    transition: all 0.3s;
}

/*---------------------------------
           ANIMATION 2
-----------------------------------*/

.animation2 {
    transition: all 0.3s;
    height: 499px;
    width: 499px;
    position: relative;
    overflow: hidden;
}

.border-box {
    width: 470px;
    height: 470px;
    border: 5px solid grey;
    position: absolute;
    z-index: 1500;
    top: 10px;
    left: 10px;
    transition: all 0.3s;
}

.background-img2 {
    background-image: url(https://images.unsplash.com/photo-1510082460461-62a0f312e2e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    height: 530px;
    width:530px;
    background-size: cover;
    position: relative;
    left:-2px;
    top:-1px;
    transition: all 0.3s;
    opacity: 0.8;
    transform: scale(1.1);
}

.title2 {
    color: white;
    position: absolute;
    bottom: 210px;
    left: 30px;
    font-size: 40px;
    letter-spacing: 3px;
    
}
.border-sub {
    border: 2px solid white;
    width: 400px;
    height: 90px;
    position: absolute;
     bottom: -95px;
     left: 50px;
     transition: all 0.3s;
}
.subtitle2 {
     text-align: center;
     line-height: 90px;
     width: 400px;
     position: absolute;
     bottom: -95px;
     left: 50px;
     font-size: 25px;
     transition: all 0.3s;
}

.animation2:hover .border-box {
    transition: all 0.7s;
    border: none;
}

.animation2:hover .subtitle2 {
    transform: translateY(-115px);
    transition: all 0.3s 0.2s;
}

.animation2:hover .border-sub {
    transform: translateY(-115px);
    transition: all 0.3s 0.1s;
}

.animation2:hover > .background-img2 {
    transform: scale(1.0);
    opacity: 1;
    transition: all 0.3s;
}